[tool.uv.workspace]
members = ["packages/client", "packages/common", "packages/server"]

[tool.uv.sources]
memmachine-common = { workspace = true }
memmachine-server = { workspace = true }
memmachine-client = { workspace = true }

[dependency-groups]
dev = [
    "complexipy>=4.2.0",
    "pytest>=8.4.2",
    "pytest-asyncio>=1.2.0",
    "ruff==0.15.1",
    "testcontainers[neo4j,postgres]>=4.13.1",
    "ty~=0.0.14",
    "pytest-cov>=7.0.0",
    "pytest-xdist>=3.8.0",
]

[tool.ruff]
exclude = ["tools"]

[tool.ruff.lint]
select = [
    "A",
    "ANN",
    "ARG",
    "ASYNC",
    "B",
    "C4",
    "C90",
    "D",
    "DTZ",
    "E",
    "F",
    "FA",
    "FAST",
    "FURB",
    "G",
    "I",
    "ICN",
    "INP",
    "INT",
    "ISC",
    "LOG",
    "N",
    "NPY",
    "PERF",
    "PIE",
    "PLC",
    "PT",
    "PTH",
    "PYI",
    "Q",
    "RET",
    "RSE",
    "RUF",
    "SLF",
    "SIM",
    "T20",
    "TID",
    "TRY",
    "UP",
    "W",
    "YTT",
]
ignore = [
    "E501", "UP015", "TRY002", "PLC0415",
    "D102", "D212", "D203", "RET504",
    "TRY003",
]

[tool.ruff.lint.pydocstyle]
convention = "google"

# Do not add any new paths under packages/
[tool.ruff.lint.per-file-ignores]
"tests/**/*.py" = ["ANN", "D", "SLF", "ARG"]
"packages/client/client_tests/**/*.py" = ["ANN", "D", "SLF", "ARG"]
"packages/server/server_tests/**/*.py" = ["ANN", "D", "SLF", "ARG"]
"packages/common/common_tests/**/*.py" = ["ANN", "D", "SLF", "ARG"]
"tools/**/*.py" = ["SIM", "DTZ", "C9", "ANN", "T201", "PT", "INP", "PTH", "D"]
"examples/**" = [
    "ANN",
    "ARG",
    "ASYNC210",
    "C901",
    "D",
    "PERF203",
    "PTH",
    "T201",
    "TRY300",
    "TRY401",
]
"integrations/**" = [
    "ANN",
    "T201",
    "D",
    "ARG",
    "PERF203",
]
"evaluation/**/*.py" = [
    "D",
    "ARG",
    "T201",
    "ANN",
    "PTH123",
    "PTH120",
    "PTH110",
    "PTH100",
    "ASYNC230",
    "RUF001",
    "N806",
    "B023",
    "B007",
    "TRY300",
    "PERF401",
]

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "session"
asyncio_default_test_loop_scope = "session"
addopts = ["-m", "not integration"]

markers = [
    "integration: mark the test as an integration test",
    "slow: mark the test as slow"
]

[tool.complexipy]
paths = ["packages/server/src", "packages/client/src", "tests"]
max-complexity-allowed = 10
quiet = false
ignore-complexity = false
details = "low"
color = "auto"
sort = "desc"
exclude = []

[tool.coverage.run]
source = [
    "packages/server/src/memmachine",
    "packages/client/src/memmachine_client",
    "packages/common/src/memmachine_common",
]

[tool.coverage.report]
sort = "cover"
